# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual environments
datascience_env/
venv/
ENV/
.env/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.sqlite3
*.db
*.bak
*.tmp
*.swp

# Ignore shell script outputs
*.sh~
